.container-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background: white;
  box-shadow: 1px 1px 3px 1px rgba(43, 43, 43, 0.521);

  padding-bottom: 30px;
  border-radius: 10px;
  padding: 0 90px;
  min-height: 500px;
  width: fit-content;
}

.container-dashboard h1 {
  margin-top: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 20px;
}

.btn-add-lead {
  align-self: flex-end;
  padding: 8px;
  width: 150px;
}
.btn-logout {
  align-self: flex-end;
  padding: 8px;
  width: fit-content;
  width: fit-content;
}
.container-table {
  display: flex;
  flex-direction: column;

  height: fit-content;
  justify-content: space-around;
  min-width: 60%;
  padding: 12px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.226);
  border-radius: 10px;
}

.table-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;

  border-bottom: solid rgba(0, 0, 0, 0.226) 1px;
  padding: 12px 0;
}

.table-titles h2 {
  min-height: fit-content;
  font-size: 18px;
  border-left: solid rgba(0, 0, 0, 0.226) 1px;
  font-weight: 700;
  border-right: solid rgba(0, 0, 0, 0.226) 1px;
  border-radius: 8px;
  padding: 4px 20px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.37);
  color: rgb(53, 53, 53);
}

.border-solid {
  border-right: 2px black solid;
}
.container-leads {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.lead {
  display: flex;
  align-items: flex-start;

  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.356);
  border-radius: 8px;
  cursor: grab;
  background-color: rgba(0, 0, 0, 0.911);
  color: white;
  padding: 2px 50px 2px 0;
}

.left:active,
.center:active {
  cursor: grabbing;

  color: white;
}

.lead span {
  margin-left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.column-left,
.column-center,
.column-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 30px;
}

.empty {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;

  color: white;
  border: 1px solid rgba(0, 0, 0, 0.356);
  height: 23px;
  border-radius: 3px;
}

.backdrop-modal-leads {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.253);
}

.right {
  cursor: default;
}

.lead .container-icons {
  display: flex;

  justify-content: space-around;
  align-self: flex-start;
  border-right: 1px solid rgba(255, 255, 255, 0.562);
  padding-right: 5px;
}

.container-icons img {
  cursor: pointer;
}

.delete-confirm {
  position: absolute;
  min-width: 100px;
  min-height: 80px;
  background-color: rgb(255, 111, 111);
  display: flex;
  flex-direction: column;
  cursor: auto;
  align-items: center;

  border-radius: 8px;
  box-shadow: 1px 1px 1px 4px rgba(0, 0, 0, 0.151);
  padding: 8px;
}

.close-confirm {
  align-self: flex-end;
  width: 20px;

  height: 20px;
  cursor: pointer;
}

.delete-confirm span {
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin-left: 0;
}

.container-buttons-confirm-delete {
  display: flex;
  gap: 10px;
}

.container-buttons-confirm-delete .btn {
  margin-top: 12px;
  max-width: 40px;
  max-height: 40px;
  padding: 0;
  font-size: 10px;
  border-radius: 4px;
  color: black;
}

.container-buttons-confirm-delete .btn:hover {
  color: white;
}
