.container-signup {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 30px 20px 30px;
  background-color: white;

  min-height: 500px;
  width: 500px;
  border-radius: 10px;

  box-shadow: 1px 1px 2px 1px rgba(43, 43, 43, 0.521);
}

.container-signup h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn-login-modal {
  padding: 10px;
  width: 50%;
  border-radius: 6px;
}

.btn-signup {
  align-self: center;
}

.modal-success-background {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;

  align-items: flex-start;
  padding-top: 8%;
  background-color: rgba(0, 0, 0, 0.219);
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.modal-success-container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  min-height: 150px;
  width: 250px;
  padding: 8px 20px;
}
.modal-success-container span {
  margin-top: 30px;
  font-weight: 500;
  color: white;
  background-color: rgb(133, 247, 133);
  text-align: center;
  border-radius: 8px;
  padding: 6px;
}

.close-modal {
  width: 20px;
  margin-top: 0;
}
