.container-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background: white;
    padding-bottom: 30px;

    min-height: 500px;
    width:fit-content;
    border-radius: 10px;
    padding:0 90px;
    box-shadow: 1px 1px 2px 1px rgba(43, 43, 43, 0.521);
    
}

.container-dashboard h1{
    margin-top: 30px;
}

.btn-add-lead{
    align-self:flex-end;
    padding: 8px;
    width: 150px;
    
}
.btn-logout{
    align-self:flex-end;
    padding: 8px;
    width: fit-content;
    
}
.container-table{
    display: flex;
    flex-direction: column;
    
    height:fit-content;
    justify-content: space-around;
    min-width: 60%;
    padding: 12px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.226);
    border-radius: 10px;

}

.table-titles{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    gap: 20px;
    
    border-bottom: solid rgba(0, 0, 0, 0.226) 1px;
    padding :12px 0;
   
}

.table-titles h2{
    min-height: fit-content;
    font-size: 18px;
    border-left: solid rgba(0, 0, 0, 0.226) 1px;
    font-weight: 500;
    border-right: solid rgba(0, 0, 0, 0.226) 1px;
    border-radius: 8px;
    padding: 4px 20px;
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.37);

    
  

}


.lead{
   
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.border-solid {
    border-right: 2px black solid;
}
.container-leads{
    display: flex;
    flex-direction: column;
   
    gap: 10px;
 
  
}

.lead{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.356);
    border-radius:10px;
    cursor:grab;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
}

.lead:active{
    cursor: grabbing;
    background: rgb(156, 255, 156);
    color: white;
    
}

.lead span{
    font-size: 16px;
    font-weight: 400;


}

.column-left, .column-center, .column-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right:30px;

}

.empty{

    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.356);
    border-radius:3px;
    
   
    color: white;
    height: 23px;
   
}

